body {
    font-family: Arial, Helvetica, sans-serif;
    h1, h2, h3, h3, h4, h5, h6 {
        color: #495C90;
    } 
    background-color: #C3C3C3
}

#top{
    font-family: 'Lato', sans-serif;
    text-align: center;
}

#nav {
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    word-spacing: 20px;
    text-align: center;
    width: auto;
    background-color: #476dae;
    padding-top: 2px;
    padding-bottom: 2px;
    -moz-box-shadow: inset 0 0 10px #777777; 
	-webkit-box-shadow: inset 0 0 10px #777777;
	box-shadow: inset 0 0 10px #777777;
}

ul.navigation {
    width: 650px;
    padding: 15px;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 1px solid #000;
    text-align: center;}

a:link {
    color: #e57947e6;
    text-decoration:none}
a:visited {
    color: #e57947e6;}
a:hover {
    color: rgb(242, 255, 0);
    text-decoration: underline;}
a:active {
    color: #e57947e6;}

i {
    color: #9F1111
}
b, strong {
    color: #027E70
}
em {
    color: #D57506;
}
del {
    color: #13B3D3
}

#headings {
        width: 450px;
        border: 2px solid #0088dd;
        padding: 10px;
        text-align: center;
        -moz-box-shadow: 5px 5px 5px #777777; 
		-webkit-box-shadow: 5px 5px 5px #777777;
		box-shadow: 5px 5px 5px #777777;
    }

#text_examples {
    width: 400px;
    padding: 15px;
    border: 5px solid #04859F;
    text-align: center;
    -moz-box-shadow: -5px -5px #777777; 
	-webkit-box-shadow: -5px -5px #777777; 
	box-shadow: -5px -5px #777777;
}

#lists {
    border: 5px solid #ee3e80;
	padding: 20px;
	width: 275px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
    text-align: center;
}

th {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 90%;
    border-bottom: 2px solid #111111;
    border-top: 1px solid #999;
    text-align: left;
}

th.even {
    background-color: #928d8d;
}
td.even {
    background-color: #928d8d;
}

img.align-left {
    float: left;
    margin-right: 10px;
}

img.align-right {
    float: right;
    margin-left: 10px;
}

img.medium {
   width: 375px;
   height: 225px;
}